body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#calculator {
    background-color: #333;
    border: 2px solid #666;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
    width: 250px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#display {
    grid-column: span 4;
    text-align: right;
    padding: 5px;
    font-size: 24px;
    background-color: #666;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #777;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
